<div>
  <app-menu></app-menu>
  <div  class="div1">
    <br>



      <div class="div3">

          <img id="myImage2" class="imgd" src="assets/images/t2.jfif" >
          <br>

          <h1 routerLink='/trend2' class="h2"style=" font-size: 20px;">Stormtech Men's Vortex HD 3-In-1 System Parka</h1>
          <br>
          <div class="div2"><h6>COLORS:</h6>
            <h1 style="background-color: #1A1A1A;" class="b1" onclick="document.getElementById('myImage2').src='assets/images/t2-1.jfif'"></h1>
            <h1 style="background-color: #4F4F4F;" class="b1" onclick="document.getElementById('myImage2').src='assets/images/t2-2.jfif'"></h1>
            <h1 style="background-color: #1E1E26;" class="b1" onclick="document.getElementById('myImage2').src='assets/images/t2-3.jfif'"></h1>
            <h1 style="background-color: #D62734;" class="b1" onclick="document.getElementById('myImage2').src='assets/images/t2.jfif'"></h1>
            <h1 style="background-color: #0033AB;" class="b1" onclick="document.getElementById('myImage2').src='assets/images/t2-4.jfif'"></h1>

          </div>

        <br>
        <p>  This product is available for Rush</p>
         <p> SS3000</p>
         <p style="color: red;">$251.52 ea. for 1 - $133.81 ea. for 250 * based on  </p>
         <p>Embroidery on Left Chest</p>
          <s> $295.90 ea. for 1 - $157.42 ea. for 250</s>
            <p> Read Reviews</p>
              <p>This all-season 3-in-1 parka is the ultimate in warmth and durability to help you get through any weather condition.</p>
                <p>• Water-resistant exterior shell with parka length<br>
                  • Zip-out anti-pill fleece liner<br>
                  • EXTREME COLD: 0°C (32°F) to -20°C (-4°F)<br>

                 </p>
           <p> Ladies Matching Style: EL3XPT </p>


      <br>
    </div>
      </div><br>

      <app-footer></app-footer>
  </div>




