<div>
  <app-menu></app-menu>
  <div  class="div1">
    <br>



      <div class="div3">
        <img id="myImage4" class="imgd" src="assets/images/t4.jfif" >

        <h1  class="h2"style=" font-size: 20px;">Independent Adult Midweight Crewneck Sweatshirt</h1><br>
        <div class="div2"><h6>COLORS:</h6>
          <h1 style="background-color: #415c38;" class="b1" onclick="document.getElementById('myImage4').src='assets/images/t4-1.jfif'"></h1>
          <h1 style="background-color: #000000;" class="b1" onclick="document.getElementById('myImage4').src='assets/images/t4-2.jfif'"></h1>
          <h1 style="background-color: #3b3b3b;" class="b1" onclick="document.getElementById('myImage4').src='assets/images/t4-3.jfif'"></h1>
          <h1 style="background-color: #303b50;" class="b1" onclick="document.getElementById('myImage4').src='assets/images/t4-4.jfif'"></h1>
          <h1 style="background-color: #58672d;" class="b1" onclick="document.getElementById('myImage4').src='assets/images/t4-5.jfif'"></h1>
          <h1 style="background-color: #b8b8b8;" class="b1" onclick="document.getElementById('myImage4').src='assets/images/t4-6.jfif'"></h1>
          <h1 style="background-color: #60344a;" class="b1" onclick="document.getElementById('myImage4').src='assets/images/t4-7.jfif'"></h1>
          <h1 style="background-color: #f91a1a;" class="b1" onclick="document.getElementById('myImage4').src='assets/images/t4-8.jfif'"></h1>
          <h1 style="background-color: #0033AB;" class="b1" onclick="document.getElementById('myImage4').src='assets/images/t4.jfif'"></h1>
          <h1 style="background-color: #ffffff;" class="b1" onclick="document.getElementById('myImage4').src='assets/images/t4-9.jfif'"></h1>


        </div>
        <br>
        <p>Independent Adult Midweight Crewneck Sweatshirt</p>
         <p> SS3000</p>
         <p style="color: red;">$58.40 ea. for 1 - $19.62 ea. for 1000 * based on </p>
         <p>a 1-colour Print on Front</p>
          <s> $64.89 ea. for 1 - $21.80 ea. for 1000</s>
            <p> Read Reviews</p>
              <p>This cotton/poly blend custom sweatshirt is sure to become a staple for any brand or organization.</p>
                <p>The crewneck design creates a classic look combined with the fleece inner lining that will keep you warm and comfortable.</p>
           <p>Customize it with your logo or design today! </p>


      <br>
    </div>
      </div><br>

      <app-footer></app-footer>
  </div>

