<div>
  <app-menu></app-menu>
  <div  class="div1">
    <br>



      <div class="div3">

        <img id="myImage3" class="imgd" src="assets/images/t3.jfif" >
          <br>

          <h1  class="h2"style=" font-size: 20px;">CORE365 Men's Techno Lite Three-Layer Knit Tech-Shell</h1>
          <br>
          <div class="div2"><h6>COLORS:</h6>
            <h1 style="background-color: #1A1A1A;" class="b1" onclick="document.getElementById('myImage3').src='assets/images/t3.jfif'"></h1>
            <h1 style="background-color: #4F4F4F;" class="b1" onclick="document.getElementById('myImage3').src='assets/images/t3-1.jfif'"></h1>
            <h1 style="background-color: #3F4368;" class="b1" onclick="document.getElementById('myImage3').src='assets/images/t3-2.jfif'"></h1>
            <h1 style="background-color: #D62734;" class="b1" onclick="document.getElementById('myImage3').src='assets/images/t3-3.jfif'"></h1>
            <h1 style="background-color: #0033AB;" class="b1" onclick="document.getElementById('myImage3').src='assets/images/t3-4.jfif'"></h1>
          </div>

        <br>
        <p>This product is available for Rush</p>
        <p style="color: red;">$44.82 ea. for 6 - $32.47 ea. for 288 * based on </p>
        <p> on Left Chest</p>
        <s>$68.95 ea. for 6 - $49.95 ea. for 288</s>
        <p>Read Reviews</p>
        <p>This water-resistant lightweight soft shell custom embroidered jacket is both breathable and protective.</p>
        <p> Its 3-layer bonded system resists wind, water, and sunlight with ease.</p>

        <p>Women's matching style: CE708W</p>


      <br>
    </div>
      </div><br>

      <app-footer></app-footer>
  </div>




