<div>
<app-menu></app-menu>
<div  class="div1">
  <br>



    <div class="div3">
      <img id="myImage1" class="imgd" src="assets/images/t1.jfif" >

      <h1  class="h2"style=" font-size: 20px;">Sportsman Knit 12 Toque</h1><br>
      <div class="div2"><h6>COLORS:</h6>
        <h1 style="background: #464646;;" class="b1" onclick="document.getElementById('myImage1').src='assets/images/t1-1.jfif'"></h1>
        <h1 style="background-color: #0033AB;" class="b1" onclick="document.getElementById('myImage1').src='assets/images/t1.jfif'"></h1>
        <h1 style="background-color: #D60024;" class="b1" onclick="document.getElementById('myImage1').src='assets/images/t1-2.jfif'"></h1>
        <h1 style="background-color: #dbf72b;" class="b1" onclick="document.getElementById('myImage1').src='assets/images/t1-3.jfif'"></h1>
        <h1 style="background-color: #FFFFFF;" class="b1" onclick="document.getElementById('myImage1').src='assets/images/t1-4.jfif'"></h1>
        <h1 style="background-color: #F04A36;" class="b1" onclick="document.getElementById('myImage1').src='assets/images/t1-5.jfif'"></h1>
        <h1 style="background-color: #4f4f4f;" class="b1" onclick="document.getElementById('myImage1').src='assets/images/t1-6.jfif'"></h1>
        <h1 style="background-color: #464646;" class="b1" onclick="document.getElementById('myImage1').src='assets/images/t1-7.jfif'"></h1>
        <h1 style="background-color: #000000;" class="b1" onclick="document.getElementById('myImage1').src='assets/images/t1-8.jfif'"></h1>
        <h1 style="background-color: #e1e1e1;" class="b1" onclick="document.getElementById('myImage1').src='assets/images/t1-9.jfif'"></h1>
        <h1 style="background-color: #565F7B;" class="b1" onclick="document.getElementById('myImage1').src='assets/images/t1-10.jfif'"></h1>
        <h1 style="background-color: #6487D2;" class="b1" onclick="document.getElementById('myImage1').src='assets/images/t1-11.jfif'"></h1>
        <h1 style="background-color: #242a38;" class="b1" onclick="document.getElementById('myImage1').src='assets/images/t1-12.jfif'"></h1>

      </div>
      <br>
      <p>This product is available for Rush</p>
      <p style="color: red;">$19.31 ea. for 6 - $7.31 ea. for 2500 * based on </p>
      <p> on Front</p>
      <s>$21.46 ea. for 6 - $8.12 ea. for 2500</s><br><br>


  </div>
    </div><br>

    <app-footer></app-footer>
</div>
