 <!---------------------- content ----------------------->
 <div class="content">


  <h1 class="h1">Top Trending Products</h1><br>
<p class="p2">These products are our current best sellers and have rave reviews from our customers.<br> We think you'll like them too.</p>


</div>



<!-- --------------------trending-------------------------------- -->

<div class="Flex-container">

  <div class="div1">
    <br>
    <div>
      <img routerLink='/trend1' id="myImage1" class="imgd" src="assets/images/t1.jfif" >
      <br>

      <h1 routerLink='/trend1' class="h2"style=" font-size: 20px;">Sportsman Knit 12 Toque</h1>
      <br>
        <div class="div2"><h6>COLORS:</h6>
          <h1 style="background: #464646;;" class="b1" onclick="document.getElementById('myImage1').src='assets/images/t1-1.jfif'"></h1>
          <h1 style="background-color: #0033AB;" class="b1" onclick="document.getElementById('myImage1').src='assets/images/t1.jfif'"></h1>
          <h1 style="background-color: #D60024;" class="b1" onclick="document.getElementById('myImage1').src='assets/images/t1-2.jfif'"></h1>
          <h1 style="background-color: #dbf72b;" class="b1" onclick="document.getElementById('myImage1').src='assets/images/t1-3.jfif'"></h1>
          <h1 style="background-color: #FFFFFF;" class="b1" onclick="document.getElementById('myImage1').src='assets/images/t1-4.jfif'"></h1>
          <h1 style="background-color: #F04A36;" class="b1" onclick="document.getElementById('myImage1').src='assets/images/t1-5.jfif'"></h1>
          <h1 style="background-color: #4f4f4f;" class="b1" onclick="document.getElementById('myImage1').src='assets/images/t1-6.jfif'"></h1>
          <h1 style="background-color: #464646;" class="b1" onclick="document.getElementById('myImage1').src='assets/images/t1-7.jfif'"></h1>
          <h1 style="background-color: #000000;" class="b1" onclick="document.getElementById('myImage1').src='assets/images/t1-8.jfif'"></h1>
          <h1 style="background-color: #e1e1e1;" class="b1" onclick="document.getElementById('myImage1').src='assets/images/t1-9.jfif'"></h1>
          <h1 style="background-color: #565F7B;" class="b1" onclick="document.getElementById('myImage1').src='assets/images/t1-10.jfif'"></h1>
          <h1 style="background-color: #6487D2;" class="b1" onclick="document.getElementById('myImage1').src='assets/images/t1-11.jfif'"></h1>
          <h1 style="background-color: #242a38;" class="b1" onclick="document.getElementById('myImage1').src='assets/images/t1-12.jfif'"></h1>

        </div>
      </div>
    </div>

    <div  class="div1">
      <br>
      <div>
        <img routerLink='/trend2' id="myImage2" class="imgd" src="assets/images/t2.jfif" >
        <br>

        <h1 routerLink='/trend2' class="h2"style=" font-size: 20px;">Stormtech Men's Vortex HD 3-In-1 System Parka</h1>
        <br>
        <div class="div2"><h6>COLORS:</h6>
          <h1 style="background-color: #1A1A1A;" class="b1" onclick="document.getElementById('myImage2').src='assets/images/t2-1.jfif'"></h1>
          <h1 style="background-color: #4F4F4F;" class="b1" onclick="document.getElementById('myImage2').src='assets/images/t2-2.jfif'"></h1>
          <h1 style="background-color: #1E1E26;" class="b1" onclick="document.getElementById('myImage2').src='assets/images/t2-3.jfif'"></h1>
          <h1 style="background-color: #D62734;" class="b1" onclick="document.getElementById('myImage2').src='assets/images/t2.jfif'"></h1>
          <h1 style="background-color: #0033AB;" class="b1" onclick="document.getElementById('myImage2').src='assets/images/t2-4.jfif'"></h1>

        </div>
        </div>
    </div>

    <div  class="div1">
      <br>
      <div>
        <img routerLink='/trend3' id="myImage3" class="imgd" src="assets/images/t3.jfif" >
        <br>

        <h1 routerLink='/trend3' class="h2"style=" font-size: 20px;">CORE365 Men's Techno Lite Three-Layer Knit Tech-Shell</h1>
        <br>
        <div class="div2"><h6>COLORS:</h6>
          <h1 style="background-color: #1A1A1A;" class="b1" onclick="document.getElementById('myImage3').src='assets/images/t3.jfif'"></h1>
          <h1 style="background-color: #4F4F4F;" class="b1" onclick="document.getElementById('myImage3').src='assets/images/t3-1.jfif'"></h1>
          <h1 style="background-color: #3F4368;" class="b1" onclick="document.getElementById('myImage3').src='assets/images/t3-2.jfif'"></h1>
          <h1 style="background-color: #D62734;" class="b1" onclick="document.getElementById('myImage3').src='assets/images/t3-3.jfif'"></h1>
          <h1 style="background-color: #0033AB;" class="b1" onclick="document.getElementById('myImage3').src='assets/images/t3-4.jfif'"></h1>

        </div>
        </div>
    </div>

    <div  class="div1">
      <br>
      <div>
        <img routerLink='/trend4' id="myImage4" class="imgd" src="assets/images/t4.jfif" >


        <h1 routerLink='/trend4' class="h2"style=" font-size: 20px;">Independent Adult Midweight Crewneck Sweatshirt</h1>

        <div class="div2"><h6>COLORS:</h6>
          <h1 style="background-color: #415c38;" class="b1" onclick="document.getElementById('myImage4').src='assets/images/t4-1.jfif'"></h1>
          <h1 style="background-color: #000000;" class="b1" onclick="document.getElementById('myImage4').src='assets/images/t4-2.jfif'"></h1>
          <h1 style="background-color: #3b3b3b;" class="b1" onclick="document.getElementById('myImage4').src='assets/images/t4-3.jfif'"></h1>
          <h1 style="background-color: #303b50;" class="b1" onclick="document.getElementById('myImage4').src='assets/images/t4-4.jfif'"></h1>
          <h1 style="background-color: #58672d;" class="b1" onclick="document.getElementById('myImage4').src='assets/images/t4-5.jfif'"></h1>
          <h1 style="background-color: #b8b8b8;" class="b1" onclick="document.getElementById('myImage4').src='assets/images/t4-6.jfif'"></h1>
          <h1 style="background-color: #60344a;" class="b1" onclick="document.getElementById('myImage4').src='assets/images/t4-7.jfif'"></h1>
          <h1 style="background-color: #f91a1a;" class="b1" onclick="document.getElementById('myImage4').src='assets/images/t4-8.jfif'"></h1>
          <h1 style="background-color: #0033AB;" class="b1" onclick="document.getElementById('myImage4').src='assets/images/t4.jfif'"></h1>
          <h1 style="background-color: #ffffff;" class="b1" onclick="document.getElementById('myImage4').src='assets/images/t4-9.jfif'"></h1>

        </div>
        </div>
    </div>



</div>





