
 <app-menu></app-menu>
<div>

  <br>
 <p> By Email:</p>
<br>
<br>
<br>
 <p>Customer Service................................................info@gmail.com</p>
 <br>
  <p>Sales.....................................................................sales@gmail.com</p>
  <br>
    <p>Tyna(Sales Manager)...........................................tyna@gmail.com</p>
    <br>
      <p>Bety.......................................................................betty@gmail.com</p>
      <br>
        <p>Efe.........................................................................efe@gmail.com</p>
        <br>
          <p>Art Department.....................................................artwork@gmail.com</p>
          <br>
          <br>
          <br>
            <p>By Phone:</p>
            <br>
              <p>Operating Hours: 9am-5pm</p>
              <br>
              <br>
              <br>
                <p>Customer Service.................................................888-503-3526 ext 1</p>
                <br>
                  <p>Sales......................................................................888-503-3526 ext 2</p>
                  <br>
                    <p>Tyna(Sales Manager)............................................888-503-3526 ext 0</p>
                    <br>
                      <p>Betty.......................................................................888-503-3526 ext 4</p>
                      <br>
                        <p>Efe..........................................................................888-503-3526 ext 5</p>
                        <br>
                          <p>International manager .........................................888-503-3526 ext 8</p>
                          <br>
                            <p>Visit Us:</p>
                            <br>
                              <p>Operating Hours: 9am-5pm (Visits are by appointment ONLY)</p>
                              <br>
                              <br>
                              <br>
                                <p>415 The Westway Road B12567</p>
                                  <p>Etobicoke, Ontario M9R1H5 Canada</p><br>

</div>

<app-footer></app-footer>
